<html xmlns="http://www.thymeleaf.org">

<head>

	<title>Add Connections</title>
	<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</head>

<body>
	<header>
		<img src="/logoPayMyBuddy.png">
		
		<ul>	
		<li><a href="/">Home</a></li>
		
		<li><a href="/showTransaction">Transfert</a></li>
		
		<li><a href="/profile">Profile</a></li>
		
		<li><a href="/contact">Contact</a></li>
		



		<li sec:authorize="isAuthenticated()">

			<form id="logoutForm" method="POST" th:action="@{/logout}">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

			</form>
			<a href="" onclick="document.forms['logoutForm'].submit()">Logout</a>
		</li>
		</ul>

	</header>
	
	<div class="sousmenu">
		
	</div>
	<h2>Add Connection</h2>
	<hr />


	<form th:action="@{/addConnection}" th:object="${connectionForm}" method="POST">

		Email:
		<input type="text" th:field="*{email}" />
		<br />

		<input type="submit" value="Create" />
	</form>






</body>



</html>